<ion-view>

  <ion-nav-title>
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="诗文名称或拼音" ng-model="keyword.content" ng-change="search()" style="width: 100%">
      </label>
    </div>
  </ion-nav-title>

  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="poem in poems"
                type="item-text-wrap"
                ng-click="showSinglePoem(poem)">
        <img ng-if="poem.author.avatarFileName" ng-src="img/{{poem.author.avatarFileName}}">
        <img ng-if="!poem.author.avatarFileName" ng-src="img/default-avatar.png">

        <h2>{{poem.title}}</h2>

        <p>{{poem.content}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!--<ion-option-button class="button-assertive" ng-click="remove(chat)">-->
        <!--Delete-->
        <!--</ion-option-button>-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
