@font-face {
    font-family: 'Jerry-Bold';
    src: url('fonts/Jerry-Bold/jfont-webfont.eot');
    src: url('fonts/Jerry-Bold/jfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Jerry-Bold/jfont-webfont.woff2') format('woff2'),
         url('fonts/Jerry-Bold/jfont-webfont.woff') format('woff'),
         url('fonts/Jerry-Bold/jfont-webfont.ttf') format('truetype'),
         url('fonts/Jerry-Bold/jfont-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Jerry-Fangzheng';
    src: url('fonts/Jerry-FangzhengBangshuXing/fangzhengbangshuxing-webfont.eot');
    src: url('fonts/Jerry-FangzhengBangshuXing/fangzhengbangshuxing-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Jerry-FangzhengBangshuXing/fangzhengbangshuxing-webfont.woff2') format('woff2'),
    url('fonts/Jerry-FangzhengBangshuXing/fangzhengbangshuxing-webfont.woff') format('woff'),
    url('fonts/Jerry-FangzhengBangshuXing/fangzhengbangshuxing-webfont.ttf') format('truetype'),
    url('fonts/Jerry-FangzhengBangshuXing/fangzhengbangshuxing-webfont.svg#fzbangshuxings-r-gbregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
